@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #f9f9f8;
}

#hr{
    border-top: 0.125rem solid black;
    width: 100%;
    margin-bottom: 5%;
}

h2{
    font-weight: 400;
    font-size: 1.7rem;
}

h2 span{
    font-weight: 600;
}

p{
    margin-top: 0.8rem;
    color: #48464A;
}

form{
    /* border: 1px solid red; */
    width: 40%;
    margin: 1.5rem auto;
    padding: 2rem;
    background-color: #f1f1f1;
}

input{
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 1.7rem;
    background-color: white;
    outline: none;
    border: 0.1rem solid gray;
    font-size: 1.2rem;
}

input[type = submit]{
    background-color: black;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    /* margin-bottom: 1.7rem; */
}

input[type = button]{
    background-color: black;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-bottom: 1.7rem;
}

#create_account{
    margin-bottom: 0;
}

input[name = gender]{
    display: inline-block;
    margin: 6% 3% 0 2%;
    transform: scale(100%);
    width: fit-content;
    border: 1px solid red;
}

/* input[type = checkbox]{
    width: fit-content;
    display: inline-block;
    margin-right: 2%;
    transform: scale(1.3);
} */

/* Media query for responsiveness */

@media (max-width: 900px){
    html{
        font-size: 14px;
    }

    form{
        width: 60%;
    }
}

@media (max-width: 780px){
    html{
        font-size: 12px;
    }

    form{
        width: 90%
    }

    /* input[name = gender]{
        display: inline-block;
        margin: 6% 3% 0 2%;
        transform: scale(1.5);
        width: fit-content;
        border: 1px solid red;
    } */
}

@media (max-width: 640px){
    html{
        font-size: 10px;
    }
    
}

button {
   width:30rem;
   margin-top:1.5rem;
   padding:1rem 0rem 1rem 0rem;
}