a:hover {
    color:black;
}

.pContent {
background-color: white;
color: black;
padding: 1rem;
font-size: 1rem;
border: none;
}

body,.carousel,.refer,.purchase {
background-color:white;
}


.products {
position:relative;
display: inline-block;
}



.dropdown-content {
display: none;
position: absolute;

background-color: #f1f1f1;
min-width:75rem;
box-shadow: rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 0.75rem 1rem;
text-decoration: none;
display: block;

}


.dropdown-content a:hover {background-color: grey;}


.products:hover .dropdown-content {display: block;}



.products:hover .pContent {background-color:whitesmoke;}

.products-w:hover .pContent {background-color:yellow;}


.dropbtn-aeo {
background-color: white;
color: black;
padding: 0.0625rem;
font-size: 1rem;
border: none;
}

.content {
position: relative;
display: inline-block;
}

.aeo-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 10rem;
box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
z-index: 1;
}

.aeo-content a {
color: black;
padding: 0.75rem 1rem;
text-decoration: none;
display: block;
}

.aeo-content a:hover {background-color: #ddd;}

.content:hover .aeo-content {display: block;}

.content:hover .dropbtn-aeo {background-color: whitesmoke;}


.col1,.col2,.col3,.col4,.col5 {
display:inline-table;
}



.content {
     display:inline-table;
     font-size:small;
     margin:1%;
 }

 .cart {
     margin-left:60%;
 }

 .searchBar {
     margin-top:2%;
     margin-left:80%;
     
    
 }

 input {
     width:50%;
     height:1.5625rem;
    
 }

 .pContent {
     display: inline-table;
     margin:0%;
 }

 .offer {
     background-color: #F5D34D;
     text-align: center;
   
      }
 .oclass {
     padding-top:1%;
 }
 .futureJeans {
     margin-top: 0;
 }
 .image1 {
     background-image: url("https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P1_26082021.jpg?w=1349&auto=format");
     background-size:auto;
 }

 .menJeans,.womenJeans {
     display:inline-table;
     font-size: small;
     background-color:#F5D34D;
     margin-top:12%;
     border-radius:1.875rem;
     padding:1% 2% 1% 2%;
     margin-bottom: 28%;
     margin-left:1%;
     
 }

 .image2 {
  background-image: url("https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P4_26082021.jpg?w=1349&auto=format");
 }
 .wTees,.mTees {
     text-align:left;
     margin-right:58%;
     display:inline-table;
     padding:1% 2% 1% 2%;
     background-color:#F5D34D;
     border-radius:1.875rem;
     font-size: small;
 }

 .wTees {
     margin-top:27%;
     margin-bottom:1%;
     
 }
 .mTees {
     margin-bottom:8%;
 }

 .image3 {
     background-image:url("https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P2_26082021.jpg?w=1349&auto=format")
 }
 .image4 {
     background-image:url("https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P3_26082021.jpg?w=1349&auto=format")
 }

 .image5 {
     background-image:url("https://aeo.imgix.net/img/app/brands/ae/home/AE_D_P5_26082021.jpg?w=1349&auto=format")
 }

 .kickBoot,.momJeans,.allJeans {
     background-color:#F5D34D;
     display:inline-table;
     margin-right:56%;
     border-radius:1.875rem;
     padding:1% 3% 1% 3%;
     font-size:small;

 }

 .kickBoot {
     margin-top: 20%;    
 }
 .momJeans {
     margin-top:1%;
     margin-bottom:1%;
 }

 .allJeans {
     margin-bottom:11%;
 }
 
 .skinnyJeans,.shopallJeans {
     display:inline-table;
     background-color:#F5D34D;
     padding:1% 3% 1% 3%;
     border-radius: 1.875rem;
     margin-left:50%;
     font-size:small;

 }
 .skinnyJeans {
     margin-top:22%;
     margin-bottom:1%;
     
 }
 .shopallJeans {
     margin-bottom:10%;
 }

 .offer div,.offer p {
     color:#4B6C63;
 }

 .pContent,.content {
     color:#5F5F5F;
 }

 .sWomen,.sMen {
     display:inline-block;
     background-color:#F5D34D;
     padding:1% 4% 1% 4%;
     border-radius:1.875rem;
     font-size: small;
     margin-top:33%;
     margin-bottom:7%;
     
     
 }
 

 .sWomen {
     margin-left:1%;
     margin-right:1%;
 }

 ul { 
     display: flex; 
     margin-bottom:5%;
     padding: 0; 
     overflow: hidden;
     
 }
 li { 
     display: block; 
     list-style: none;
     margin: 0% 1% 0% 1%;
    
     
 }

 button.prev, button.next {
 display: flex; font-size: 2rem;
 align-items: center; justify-content: center;
 color: #FFF; background-color: #333;
 border-radius: 50%;
 width: 2.75rem; height: 2.75rem;
  }
 button.prev {
 position: absolute; left: 0; top: 5rem;
  }
 button.next {
  position: absolute; right: 0; top: 5rem;
  }

  hr {
      margin-top:3%;
  }

  .purchase,.gift {
      border:0.0625rem solid black;
      display:inline;
      padding:1% 3% 1% 3%;
      
  }

  .purchase {
      margin-left:0;
      margin-right:2%;
  }

  .refer {
      margin-top:3%;
  }

 i {
     font-size:0.3125rem;
 }  
 
 .c1,.c2,.c3 {
     display:inline-table;
     margin-top:4%;
 }

 .c2,.c3 {
     margin-left:10%;
 }
 
.offer a,.content a,.pContent a {
    text-decoration: none;
    color:#5F5F5F;
}

.rights,.aboutImg {
    text-align: left;
    
}

input > i {
    padding-top:2%;
}

#sbag {
    font-size: 1.25rem;
}